{% extends "core/base.html" %}
{% block title %}Lista de Equipes AB{% endblock %}
{% block body %}
	<div class="row">
		{% for list in equipe_list|dictsort:'area' %}
			{% if list.ine %}
				<p>
					<button type="button"
							class="btn btn-primary btn-lg btn-block"
							onclick="location.href='{% url 'core.profissional' v1 list.ine %}'">
						{{ list }}				
					</button>
				</p>
			{% else %}
				<p>
					<button type="button"
							class="btn btn-primary btn-lg btn-block"
							onclick="location.href='{% url 'core.profissional' v1 list.nome %}'">
						{{ list }}				
					</button>
				</p>
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
