{% extends "core/base.html" %}
{% load static %}
{% block style %}
{{ block.super }}
	<link href="{% static 'core/css/ficha_atividade.css' %}" rel="stylesheet">
{% endblock style %}
{% block title %}Ficha de Atividade Coletiva{% endblock title %}
{% block body %}
	<div class="row">
		<div class="cns1">
			{{ profissional_filter.cns }}
		</div>
		<div class="cbo1">
			{{ profissional_filter.cbo.cbo|slice:":4" }}
		</div>
		<div class="cbo2">
			{{ profissional_filter.cbo.cbo|slice:"4:" }}
		</div>
		<img src="{% static 'core/img/ficha_atividade-0.png' %}"/>
		<div class="nome">
			{{ profissional_filter.nome }} - {{ profissional_filter.cbo.nome }}
		</div>
		<div class="cns2">
			{{ profissional_filter.cns }}
		</div>
		<div class="cnes">
			{{ profissional_filter.equipe.unidade.cnes }}
		</div>
		<div class="ine">
			{{ profissional_filter.equipe.ine }}
		</div>
	</div>
	<div style="page-break-after: always"></div>
	<div class="row">
		<img src="{% static 'core/img/ficha_atividade-1.png' %}"/>
	</div>
{% endblock body %}
