{% extends "core/base.html" %}
{% block title %}Lista de Profissionais AB{% endblock %}
{% block body %}
	<div class=row>
		{% for cbo in auth_cbo %}
			{% if cbo.nome == 'ficha_atendimento_individual' %}
				{% for test in cbo.cbo.all %}
					{% if pro_cbo == test.cbo %}
						{% if profissional_filter.equipe.ine %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.nome profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if cbo.nome == 'ficha_atividade' %}
				{% for test in cbo.cbo.all %}
					{% if pro_cbo == test.cbo %}
						{% if profissional_filter.equipe.ine %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.nome profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if cbo.nome == 'ficha_cadastro_domiciliar' %}
				{% for test in cbo.cbo.all %}
					{% if pro_cbo == test.cbo %}
						{% if profissional_filter.equipe.ine %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.nome profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if cbo.nome == 'ficha_cadastro_individual' %}
				{% for test in cbo.cbo.all %}
					{% if pro_cbo == test.cbo %}
						{% if profissional_filter.equipe.ine %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.nome profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if cbo.nome == 'ficha_de_procedimentos' %}
				{% for test in cbo.cbo.all %}
					{% if pro_cbo == test.cbo %}
						{% if profissional_filter.equipe.ine %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.nome profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if cbo.nome == 'ficha_de_visitas_domiciliar' %}
				{% for test in cbo.cbo.all %}
					{% if pro_cbo == test.cbo %}
						{% if profissional_filter.equipe.ine %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.nome profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
			{% if cbo.nome == 'ficha_individual_odontologico' %}
				{% for test in cbo.cbo.all %}
					{% if pro_cbo == test.cbo %}
						{% if profissional_filter.equipe.ine %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% else %}
							<p>
								<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#{{ cbo.nome }}">
									{{ cbo }}
								</button>
							</p>
							<div id="{{ cbo.nome }}" class="modal text-center">
								<div class="modal-dialog modal-lg">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal">&times;</button>
											<h4 class="modal-title">{{ cbo }} - {{ profissional_filter.nome }}</h4>
										</div>
										<div class="modal-body" style="height: 75vh;">
											<object type="application/pdf" data="{% url 'core.ficha_esus' profissional_filter.equipe.nome profissional_filter.cns cbo.nome %}#zoom=page-width" width="100%" height="100%"></object>
										</div>
									</div>
								</div>
							</div>
						{% endif %}
					{% endif %}
				{% endfor %}
			{% endif %}
		{% endfor %}
	</div>
{% endblock %}
