{% extends "core/base.html" %}
{% block title %}Lista de Profissionais AB{% endblock title %}
{% block body %}
	{% if pro_cbo in nivel_superior %}
		<p>
			<button type="button"
					class="btn btn-primary btn-lg btn-block"
					onclick=
						"location.href='{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns 'ficha_atendimento_individual' %}'">
				Ficha de Atendimento Individual			
			</button>
		</p>
	{% endif %}
	{% if pro_cbo in cbo.values %}
		<p>
			<button type="button"
					class="btn btn-primary btn-lg btn-block"
					onclick=
						"location.href='{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns 'ficha_atividade' %}'">
				Ficha de Atividade Coletiva			
			</button>
		</p>
	{% endif %}
	{% if pro_cbo == cbo.acs %}
		<p>
			<button type="button"
					class="btn btn-primary btn-lg btn-block"
					onclick=
						"location.href='{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns 'ficha_cadastro_domiciliar' %}'">
				Ficha de Cadastro Domiciliar			
			</button>
		</p>
	{% endif %}
	{% if pro_cbo == cbo.acs %}
		<p>
			<button type="button"
					class="btn btn-primary btn-lg btn-block"
					onclick=
						"location.href='{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns 'ficha_cadastro_individual' %}'">
				Ficha de Cadastro Individual			
			</button>
		</p>
	{% endif %}
	{% if pro_cbo != cbo.acs and pro_cbo != cbo.dentista and pro_cbo != cbo.aux_saude_bucal %}
		<p>
			<button type="button"
					class="btn btn-primary btn-lg btn-block"
					onclick=
						"location.href='{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns 'ficha_de_procedimentos' %}'">
				Ficha de Procedimentos			
			</button>
		</p>
	{% endif %}
	{% if pro_cbo == cbo.acs %}
		<p>
			<button type="button"
					class="btn btn-primary btn-lg btn-block"
					onclick=
						"location.href='{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns 'ficha_de_visitas_domiciliar' %}'">
				Ficha de Visita Domiciliar			
			</button>
		</p>
	{% endif %}
	{% if pro_cbo == cbo.dentista %}
		<p>
			<button type="button"
					class="btn btn-primary btn-lg btn-block"
					onclick=
						"location.href='{% url 'core.ficha_esus' profissional_filter.equipe.ine profissional_filter.cns 'ficha_individual_odontologico' %}'">
				Ficha de Atendimento Individual	Odontológico		
			</button>
		</p>
	{% endif %}
{% endblock %}
