{% extends "core/base.html" %}
{% load static %}
{% block style %}
{{ block.super }}
	<link href="{% static 'core/css/protocolo.css' %}" rel="stylesheet">
{% endblock style %}
{% block title %}Ficha de Protocolo{% endblock title %}
{% block body %}
	<div class="row">
		<div class="col-xs-4">
			<img src="{% static 'core/img/logo_sms.png' %}"
			class="img-responsive" width="187" height="50">
		</div>
		<div class="col-xs-8">
			<h3>Protocolo de Entrega de Fichas</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-6">
			Equipe: <span class="negrito">{{ profissional_filter.equipe }}</span>
		</div>
		<div class="col-xs-3">
			CNES: <span class="negrito">{{ profissional_filter.equipe.unidade.cnes }}</span>
		</div>
		<div class="col-xs-3">
			INE: <span class="negrito">{{ profissional_filter.equipe.ine }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-8">
			Profissional: <span class="negrito">{{ profissional_filter.nome }}</span>
		</div>
		<div class="col-xs-4">
			CNS: <span class="negrito">{{ profissional_filter.cns }}</span>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-2">
			Data Entrega
		</div>
		<div class="col-xs-2">
			Períod. Fichas
		</div>
		<div class="col-xs-2">
			Qtd. Fichas
		</div>
		<div class="col-xs-3">
			Ass. Digitador
		</div>
		<div class="col-xs-3">
			Ass. Profissional
		</div>
	</div>
	<div class="row">
	{% for n in linha %}
		<div class="col-xs-2 linha">
		</div>
		<div class="col-xs-2 linha">
		</div>
		<div class="col-xs-2 linha">
		</div>
		<div class="col-xs-3 linha">
		</div>
		<div class="col-xs-3 linha">
		</div>
	{% endfor %}
	</div>
{% endblock body %}
