{% extends "core/base.html" %}
{% load static %}
{% block style %}
{{ block.super }}
	<link href="{% static 'core/css/ficha_individual_odontologico.css' %}" rel="stylesheet">
{% endblock style %}
{% block title %}Ficha de Atendimento Individual Odontológico{% endblock title %}
{% block body %}
	<div class="row">
		<div class="nome">
			{{ profissional_filter.nome }} - {{ profissional_filter.cbo.nome }}
		</div>
		<div class="cns">
			{{ profissional_filter.cns }}
		</div>
		<div class="cnes">
			{{ profissional_filter.equipe.unidade.cnes }}
		</div>
		<div class="ine">
			{{ profissional_filter.equipe.ine }}
		</div>
		<div class="cbo1">
			{{ profissional_filter.cbo.cbo|slice:":4" }}
		</div>
		<div class="cbo2">
			{{ profissional_filter.cbo.cbo|slice:"4:" }}
		</div>
		{% for value in profissional_list %}
		{% if value.cbo.cbo == '322430' %}
		<div class="nomeaux">
			{{ value.nome }} - {{ value.cbo.nome }}
		</div>
		<div class="cnsaux">
			{{ value.cns }}
		</div>
		<div class="cbo1aux">
			{{ value.cbo.cbo|slice:":4" }}
		</div>
		<div class="cbo2aux">
			{{ value.cbo.cbo|slice:"4:" }}
		</div>
		{% endif %}
		{% endfor %}
		<img src="{% static 'core/img/ficha_individual_odontologico-0.png' %}"/>
	</div>
	<div style="page-break-after: always"></div>
	<div class="row">
		<img src="{% static 'core/img/ficha_individual_odontologico-1.png' %}"/>
	</div>
{% endblock body %}
