{% extends "core/base.html" %}
{% block title %}Fichas Equipes AB{% endblock %}
{% block body %}
	<div class="row">
		<p>
			<button type="button"
					class="btn btn-primary btn-lg btn-block"
					onclick="location.href='{% url 'core.equipe' 'protocolo' %}'">
				Fichas de Protocolo				
			</button>
		</p>
		<p>
			<button type="button"
					class="btn btn-primary btn-lg btn-block"
					onclick="location.href='{% url 'core.equipe' 'esus' %}'">
				Fichas de e-SUS				
			</button>
		</p>
	</div>
{% endblock %}
