{% extends "core/base.html" %}
{% load static %}

{% block style %}
{{ block.super }}
  <link href="/static/core/css/unidades.css" rel="stylesheet">
  <script src="{% static 'core/js/unidades.js' %}"></script>
{% endblock style %}

{% block body %}

<select id="estados">
  <option value=""></option>
{% for key, value in estados %}
  <option value="{{key}}">{{value}}</option>
{% endfor %}
</select><br>

<select id="municipios"></select><br>

<select id="estabelecimentos"></select><br>

<select id="equipes"></select><br>

<div><ul id="profissionais"></ul></div>

{% endblock %}
