@page {
	size: a4 !important;
	margin: 0.5cm !important;
}
img {
	width: 19.5cm !important;
	height: 27.2cm !important;
}
.nome {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +0.3cm !important;
	margin-left: +0.8cm !important;
}
.cns {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +3.27cm !important;
	margin-left: +0.9cm !important;
	letter-spacing: 0.245cm !important;
}
.cbo1 {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +3.27cm !important;
	margin-left: +6.9cm !important;
	letter-spacing: 0.27cm !important;
}
.cbo2 {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +3.27cm !important;
	margin-left: +8.6cm !important;
	letter-spacing: 0.27cm !important;
}
.cnes {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +3.27cm !important;
	margin-left: +9.7cm !important;
	letter-spacing: 0.25cm !important;
}
.ine {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +3.27cm !important;
	margin-left: +12.8cm !important;
	letter-spacing: 0.24cm !important;
}
