@page {
	size: a4 !important;
	margin: 0.5cm !important;
}
img {
	width: 19.5cm !important;
	height: 27.2cm !important;
}
.nome {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +0.1cm !important;
	margin-left: +0.8cm !important;
}
.cns {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +3.27cm !important;
	margin-left: +0.9cm !important;
	letter-spacing: 0.224cm !important;
}
.cnes {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +3.27cm !important;
	margin-left: +6.55cm !important;
	letter-spacing: 0.27cm !important;
}
.ine {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +3.27cm !important;
	margin-left: +9.5cm !important;
	letter-spacing: 0.225cm !important;
}
.cbo1 {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +3.27cm !important;
	margin-left: +13.33cm !important;
	letter-spacing: 0.225cm !important;
}
.cbo2 {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +3.27cm !important;
	margin-left: +14.9cm !important;
	letter-spacing: 0.225cm !important;
}
.nomeaux {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +0.3cm !important;
	margin-left: +0.8cm !important;
}
.cnsaux {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +4.2cm !important;
	margin-left: +0.9cm !important;
	letter-spacing: 0.224cm !important;
}
.cbo1aux {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +4.2cm !important;
	margin-left: +6.6cm !important;
	letter-spacing: 0.228cm !important;
}
.cbo2aux {
	font-size: 0.25cm !important;
	position: absolute !important;
	margin-top: +4.2cm !important;
	margin-left: +8.35cm !important;
	letter-spacing: 0.225cm !important;
}
